<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
</head>
<body>

<div class="container h-100">
    <br><br><br>
    <h1 class="text-center">{{ titulo }}</h1>
    <div class="row h-100 justify-content-center align-items-center">
        <form action="{{ url_for('registrar_articulo') }}" method="post" class="col-6">
            <div class="form-group">
            <label for="descripcion" class="col-form-label">Descripcion</label>
            <input class="form-control" id="descripcion" id="descripcion" name="descripcion" value="{{ "" if modificar is none else modificar.descripcion }}"/>
            </div>

            <div class="form-group">
                <label class="col-form-label" for="precio" >Precio unitario</label>
            <input class="form-control" id="precio" type="number" step="any" name="precio" value="{{ "" if modificar is none else modificar.precio_unitario }}" />
            </div>

            <div class="form-group">
            <label for="stock">Cantidad stock</label>
            <input class="form-control" type="number" id="stock" min="0" name="stock" value="{{ "" if modificar is none else modificar.stock }}" />
            </div>

            <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Guardar" onclick="AgregarArticulo" />
            </span>
            <input type="hidden" value="{{ modo }}" name="modo">
            <input type="hidden" value="{{ 0 if modificar is none else modificar.id }}" name="id">
        </form>
    </div>
</div>
</body>
</html>




