<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body align="center" style="background: linear-gradient(to right, #8e9eab, #eef2f3);">
<br>
<br>
<div align="center"><h2>Login</h2></div>
<br>
<br>
<div class="row justify-content-center align-items-center">
<form action="{{ url_for('login') }}" method="post" >

    <div class="form-group">
        <label for="usuario">Usuario: </label>
        <input type="text" class="form-control" name="usuario" id="usuario"/></p>
    </div>

    <div class="form-group">
        <label for="clave">Clave: </label>
        <input type="password" class="form-control" name="clave" id="clave"/></p>
    </div>

    <button type="submit">Ingresar</button></p>
    {{ '' if error is none else error  }}
</form>

</div>

</body>
</html>