<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal</title>
</head>
<body style="background: linear-gradient(to right, #8e9eab, #eef2f3);">
<br>
<div align="center"><h2>Personal</h2></div>
<br>
<div class="container-fluid">
<div row="">
</div>

    <table class="table table-sm table-dark table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Clave</th>
            <th>Habilitado</th>
            <th>Tipo</th>
        </tr>
        </thead>
        <tbody>
            {% for usr in personal %}
                <tr>
                <td>{{ usr.id }}</td>
                <td>{{ usr.nombre }}</td>
                <td>{{ usr.clave }}</td>
                <td>{{ usr.habilitado }}</td>
                <td>
                    {{ 'Sin Especificar' if usr.usuario_tipo_rel is none else usr.usuario_tipo_rel.descripcion   }}
                </td>
                <td><a href="{{url_for('.formulariopersonal',ID=usr.id)}}">Modificar</a></td>
                <td><a href="{{url_for('.formulariopersonal',ID=usr.id)}}">Eliminar</a></td>
                <td><a onclick="return confirm('¿Confirmar eliminar el usuario seleccionado?')" href="{{ url_for('.eliminarpersonal',ID=usr.id)}}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- aca va lo que corte -->

<div align="center"><button><a href="{{ url_for('formulariopersonal')}}">Nuevo usuario</a></button></div>


</body>
</html>
