<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
</head>
<body style="background: linear-gradient(to right, #8e9eab, #eef2f3);">
<br>
<div align="center"><h2>Stock Actual</h2></div><br>
<div class="container-fluid" >
    <div row="">
    </div>
        <table class="table table-sm table-dark table-hover">
    <thead style="border-bottom: 2px solid black; border-top-color: #9fcdff;">
    <tr>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Precio unitario</th>
        <th>Cant. Stock</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
        <tbody>
        {% for articulo in articulos %}
            <tr>
           <td>{{ articulo.id  }}</td>
           <td>{{ articulo.descripcion }}</td>
           <td>{{ articulo.precio_unitario  }}</td>
           <td>{{ articulo.stock  }}</td>
            <td><a href="{{url_for('.formularioarticulos',ID=articulo.id)}}">Modificar</a></td>
                <td><a onclick="return confirm('¿Confirmar el  el articulo seleccionado?')" href="{{ url_for('.eliminararticulo',ID=articulo.id) }}">Eliminar</a></td>
           </tr>
        {% endfor %}
        </tbody>
</table>
    </div>

<div  align="center">
<button><a href=" {{ url_for('formularioarticulos') }}">Cargar Nuevo articulo</a></button>
</div>


</body>

</html>


