<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
</head>
<body style="background: linear-gradient(to right, #8e9eab, #eef2f3);"><br>
<div align="center"><h2>Historial Ventas</h2></div>

<div align="right"><button><a href="{{ url_for('formularioventas') }}">Nueva Venta</a></button></div>

<div class="container-fluid">
<div row="">
</div>
    <table class="table table-sm table-dark table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Monto</th>
        </tr>
    </thead>
      <tbody>
        {% for i in detalles %}
            <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.fecha }}</td>
                <td>{{i.movimiento_usuario_rel.nombre  }}</td>
            <td>{{ i.monto_total }}</td>
            </tr>
        {% endfor %}
      </tbody>
</table>
</div>

</body>
</html>
